<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{title}}</title>
        <link rel="shortcut icon" href="/img/weather.png" type="image/x-icon">
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by <a href="https://github.com/ecatom">ecatom</a> and uses data from <a href="https://mapbox.com"> mapbox.com </a>and<a href="https://darksky.net"> darksky.net</a></p>
        </div>
        {{>footer}}
        <script src="/JS/app.js"></script>
    </body>
</html>