<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{title}}</title>
        <link rel="shortcut icon" href="/img/weather.png" type="image/x-icon">
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img class="logo" src="/img/round.png" alt="logo">
        </div>
        {{>footer}}
        <script src="/JS/app.js"></script>
    </body>
</html>