body{
    color: #333 ;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 650px; 
    margin:0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer{
    color: #888;
    border-top:  1px solid #eee;
    margin-top: 16px;
    padding: 16px 0px;
}

header{
    margin-top: 16px;
    margin-bottom: 48px;
}

h1{
    font-size: 64px;
    margin-bottom: 16px;
}

header a {
    color: #888;
    margin-right: 16px;
    text-decoration: none;
}

.logo{
    width: 250px;
}

.main-content{
    flex-grow: 1;
}

input{
    border: 1px solid #888;
    padding: 5px;
    border-radius: 25px;
}

button{
    border: none;
    padding: 5px;
    border-radius: 25px;
    background-color: #333;
    color: #eee;
    cursor: pointer;
}

a {
    color: #17756d;
    text-decoration: none;
}

#res{
    margin-top: 16px;
}